<!DOCTYPE html>
	<html>
	
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/about">About</a></li>
        			<li><a href="/projects">Projects</a></li>
        			<li><a href="/fun/front">Fun</a></li>
		        	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:l32aurenlee@gmail.com">email</a></li>
	        		<li><a href="https://github.com/thelaurenlee">github</a></li>
				</ul>
			</footer>

		</body>

	</html>
